// font-family: Tactic Sans Extra Extended;
// font-size: 75px;
// font-weight: 400;
// line-height: 95px;
// letter-spacing: 0.05em;
// text-align: left;
.about__title{
    width: 100%;
    height: auto;
    .piano{
width: 100%;
height: auto;
    }
}